{{>navbar}}


    <div class="header_content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-10 mx-auto order-last">
            <div class="header_content__text">
              <h2><span>About Us</span> </h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <!-- <div class="content_button">
                <a href="#" alt="">download app now</a>
                <a href="#" alt="" class="btn2">related pages</a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-10 mx-auto order-first">
            <figure class="header_content__img">
              <img src="images/pic5.png" alt="" class="img-fluid" style="width: 60rem; height: 30rem;">
            </figure>
          </div>
        </div>
      </div>
    </div>
  
</div>
 {{>footer}}