

{{>navbar}}


    <div class="header_content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-10 mx-auto ">
            <div class="header_content__text">
              <h2><span>Services</span> for everyone.</h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Dignissimos repudiandae neque similique itaque assumenda esse ab,
                quisquam perferendis ducimus magni!</p>
              <div class="content_button">
                <a href="/weather" alt="">Check Weather</a>
                <a href="/about" alt="" class="btn2">About Us</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-10 mx-auto">
            <figure class="header_content__img">
              <img src="images/pic4.png" alt="" class="img-fluid" style="width: 60rem; height: 60rem;">
            </figure>
          </div>
        </div>
      </div>
    </div>

</div>
 {{>footer}}